<h1 class="index-title">投稿一覧</h1>

<div class="index-ranking">
  いいね数の多い投稿はこちら！→
<!-- <%= Favorite.group(:post_id).order('count(post_id) desc').limit(3).pluck(:post_id) %> -->
<% @all_ranks.each.with_index(1) do |post, i| %>
  第
  <%= i %>
  位

  <span class="index-ranking-contents">
    <%= link_to post.title, post_path(post.id) %>
    <span>(<%= post.favorites.count %>いいね)</span>
  </span>
  <% end %>
</div>


<div class="index-contents">
    <% @posts.each do |post| %>
    <div class="index-content">
      <h2><%= link_to post.title, post_path(post.id) %></h2>
      <!-- ポスト→ポストタグで探索して、タグを探し出す。複数あるので、each文で取り出す。-->
      <span>タグ：</span>
      <% post.post_tags.each do |ptag| %>
      <span><%= link_to ptag.tag.name, tag_path(ptag.tag.id) %></span>
      <% end %><br/>
      <span class="index-contents-user" >by<%= link_to post.user.name, user_path(post.user.id) %></span>
      <span class="index-contents-date">作成日時<%= post.created_at %>更新日時<%= post.updated_at %></span>

      <span class="index-contents-comments"><%= post.comments.count %>コメント</span>

      <span class="index-contents-fav"><%= post.favorites.count %>いいね</span><br/>
    </div>
    <% end %>
  <%= paginate @posts %>
</div>